body {
  font-family: 'Libre Baskerville', serif;
}

header {}

.logo-box {
  padding: 0px 8px;
}

.logo-image {
  float: left;
}

.quote {
  height: 180px;
  background-image: url("header.png");
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  color: white;
}

blockquote {
  position: relative;
  top: 20%;
  padding: 10px;
  background-color: #bbdfc8;
}

.container .inside {
  color: white;
  width: 33.33%;
  height: 270px;
  display: inline-block;
  float: left;
}

#first {
  background-color: #bbdfc8;
  text-shadow: 2px 2px grey;
}

.vl {
  border-left: 6px solid grey;
  border-left-style: dotted;
  position: relative;
  margin: 30px 0px 30px 30px;
  padding-left: 5px;
  height: 70%;
}

#second {
  top: 25%;
  position: relative;
  left: 16px;
  background-color: grey;
  text-align: right;
  text-shadow: 2px 2px grey;
  overflow: auto;

}

#third {
  float: right;
  padding-top: 30px;
  border: 6px solid grey;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#third img {
  width: 60%;
  height: 70%;
  border-radius: 10%;
  border: 2px solid grey;
  box-shadow: 10px 10px 5px grey;
}

#sidebar {
  clear: both;
  height: 100%;
  width: 20%;
  float: left;
  position: sticky;
  display: block;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  margin: 10px 0px;
}

h2 {
  text-shadow: 2px 2px grey;
}
a {
  color: grey;
  text-decoration: none;
}
a:hover {
  color: #bbdfc8;
}
main {
  display: block;
  width: 80%;
  float: right;
  border-left: 6px solid grey;
  height: 100%;
  margin: 10px 0px;
  padding: 0px 10px;
  box-sizing: border-box;
}

.video {
  text-align: center;
}
#table{

}
th {
  background-color: grey;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.container {
  clear: both;
  margin: 10px;
}

.meal img {
  width: 300px;
  float: right;
  border: 4px solid grey;

}

#t {
  clear: both;
}

#ques {
  height: 300px;
  font-family: 'Libre Baskerville', serif;
}

.transboxes {
  position: relative;
}

.box {
  width: 33.33%;
  height: 100px;
  z-index: -1;
  opacity: 0.4;
  display: inline-block;
  float: left;
}

#one {
  position: absolute;
  background-color: #bbdfc8;
}

#two {
  position: absolute;
  top: 100px;
  left: 33.33%;
  background-color: grey;
}

#three {
  position: absolute;
  top: 200px;
  left: 66.66%;
  background-color: yellow;
}
span {
  font: caption;
  font-weight: bold;
  font-stretch: semi-expanded;
  font-size: 120%;
}

footer {
  opacity: 0.4;
  background-color: #bbdfc8;
  clear: both;
}
